<div id="header">
  <!-- Begin Masthead -->
  <div id="masthead" style="display: flex; justify-content: space-between; align-items: flex-start;">
    <div id="logotext">
      <a href="/" style="text-decoration:none; color:black">
        <span class="logotexttop">IEEE Transactions On</span>
        <span class="logotextbottom">Very Large Scale</span>
        <span class="logotextbottom">Integration (VLSI) Systems</span>
      </a>
    </div>
    <div id="logo-social-group">
      <div id="social">
        <div class="social-icons">
          <span style="font-size: 0.95em;">Follow us:</span>
          <a href="https://www.linkedin.com/company/ieeetvlsi" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin" style="font-size: 1.7em; color: #0077B5;"></i>
          </a>
          <a href="https://www.facebook.com/ieeetvlsi" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook" style="font-size: 1.7em; color: #1877F3;"></i>
          </a>
        </div>
      </div>
      <div id="logo">
        <a href="http://www.ieee.org" target="_blank" rel="noopener">
          <img alt="IEEE logo" width="225" src="/images/ieee_mb_black.gif">
        </a>
      </div>
    </div>
  </div>
</div>