<nav id="menu">
  <ul class="menu-items">
    <li><a href="/">Home</a></li>
    
    <li>
      <a href="#">Articles &amp; Issues</a>
      <ul>
        <li><a href="/recent-issues/">Recent Issues</a></li>
        <li><a href="/special-sections/">Special Sections</a></li>
        <li><a href="/call-for-papers/">Call For Papers</a></li>
      </ul>
    </li>
    
    <li>
      <a href="#">Resources</a>
      <ul>
        <li><a href="/author-information/">Information for Authors</a></li>
        <li><a href="/reviewer-information/">Information for Reviewers</a></li>
        <li>
          <a href="https://www.ieee.org/profile/public/createwebaccount/showCreateAccount.html?autoSignin=Y&signinurl=https%3A%2F%2Fieee-rex.scienceconnect.io%2Fproxy%2Fapi%2Fsaml%2Fstart%3Fprovider%3Dservices10.ieee.org%26addChannel%3Dfalse&url=https%3A%2F%2Fieee-rex.scienceconnect.io%2Fproxy%2Fapi%2Fsaml%2Fstart%3Fprovider%3Dservices10.ieee.org%26addChannel%3Dfalse&sourceCode=author" target="_blank" rel="noopener">
            IEEE Author Portal <span class="fa fa-external-link" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </li>
    
    <li>
      <a href="#">About TVLSI</a>
      <ul>
        <li><a href="/eic-desk/">EIC's Desk</a></li>
        <li><a href="/steering-committee/">Steering Committee</a></li>
        <li><a href="/past-eic/">Past EIC's</a></li>
        <li><a href="/editorial-board/">Editorial Board</a></li>
        <li><a href="/top-downloads/">Top 25 Downloads</a></li>
        <li><a href="/tvlsi-statistics/">TVLSI Statistics</a></li>
        <li><a href="/awards/">Awards</a></li>
      </ul>
    </li>
    
    <li>
      <a href="#">IEEE</a>
      <ul>
        <li><a href="http://www.ieee.org" target="_blank" rel="noopener">
          IEEE Home <span class="fa fa-external-link" aria-hidden="true"></span>
        </a></li>
        <li><a href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=92" target="_blank" rel="noopener">
          IEEE Xplore <span class="fa fa-external-link" aria-hidden="true"></span>
        </a></li>
        <li><a href="http://www.ieee.org/organizations/history_center/milestones_program.html" target="_blank" rel="noopener">
          IEEE History <span class="fa fa-external-link" aria-hidden="true"></span>
        </a></li>
        <li><a href="http://www.ieee.org/web/volunteers/home/index.html" target="_blank" rel="noopener">
          IEEE Volunteers <span class="fa fa-external-link" aria-hidden="true"></span>
        </a></li>
      </ul>
    </li>
  </ul>
</nav>