<nav id="menu">
  <ul class="menu-items">
    <li><a href="{{ site.baseUrl }}/">Home</a></li>

    <li>
      <a href="#">Articles &amp; Issues</a>
      <ul>
        <li><a href="{{ site.baseUrl }}/recent-issues/">Recent Issues</a></li>
        <li><a href="{{ site.baseUrl }}/special-sections/">Special Sections</a></li>
        <li><a href="{{ site.baseUrl }}/call-for-papers/">Call For Papers</a></li>
      </ul>
    </li>

    <li>
      <a href="#">Resources</a>
      <ul>
        <li><a href="{{ site.baseUrl }}/author-information/">Information for Authors (Author Guidelines)</a></li>
        <li><a href="{{ site.baseUrl }}/reviewer-information/">Information for Reviewers</a></li>
        <li>
          <a href="https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.ieee.org%2Fprofile%2Fpublic%2Fcreatewebaccount%2FshowCreateAccount.html%3FautoSignin%3DY%26signinurl%3Dhttps%253A%252F%252Fieee-rex.scienceconnect.io%252Fproxy%252Fapi%252Fsaml%252Fstart%253Fprovider%253Dservices10.ieee.org%2526addChannel%253Dfalse%26url%3Dhttps%253A%252F%252Fieee-rex.scienceconnect.io%252Fproxy%252Fapi%252Fsaml%252Fstart%253Fprovider%253Dservices10.ieee.org%2526addChannel%253Dfalse%26sourceCode%3Dauthor&data=05%7C02%7C%7Ceaf1395b21974f1ade6508def319d45b%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C639215489421425637%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&sdata=plN6i1%2FrdVgLSQziFH%2BwIFu4z8yuPvNgodGnguZHYu4%3D&reserved=0" target="_blank" rel="noopener">
            IEEE Author Portal <span class="fa fa-external-link" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#">About TVLSI</a>
      <ul>
        <li><a href="{{ site.baseUrl }}/eic-desk/">EIC's Desk</a></li>
        <li><a href="{{ site.baseUrl }}/steering-committee/">Steering Committee</a></li>
        <li><a href="{{ site.baseUrl }}/past-eic/">Past EIC's</a></li>
        <li><a href="{{ site.baseUrl }}/editorial-board/">Editorial Board</a></li>
        <li><a href="{{ site.baseUrl }}/top-downloads/">Top 25 Downloads</a></li>
        <li><a href="{{ site.baseUrl }}/tvlsi-statistics/">TVLSI Statistics</a></li>
        <li><a href="{{ site.baseUrl }}/awards/">Awards</a></li>
    
    <li>
      <a href="#">IEEE</a>
      <ul>
        <li><a href="http://www.ieee.org" target="_blank" rel="noopener">
          IEEE Home <span class="fa fa-external-link" aria-hidden="true"></span>
        </a></li>
        <li><a href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=92" target="_blank" rel="noopener">
          IEEE Xplore <span class="fa fa-external-link" aria-hidden="true"></span>
        </a></li>
        <li><a href="http://www.ieee.org/organizations/history_center/milestones_program.html" target="_blank" rel="noopener">
          IEEE History <span class="fa fa-external-link" aria-hidden="true"></span>
        </a></li>
        <li><a href="http://www.ieee.org/web/volunteers/home/index.html" target="_blank" rel="noopener">
          IEEE Volunteers <span class="fa fa-external-link" aria-hidden="true"></span>
        </a></li>
      </ul>
    </li>
  </ul>
</nav>